<nz-header>

  <div nz-row class="marco">
      <div nz-col nzXs="24" nzSm="4" class="logo"> </div>
      <div nz-col nzXs="24" nzSm="12" class="tunombre1" ></div>
      <div nz-col nzXs="24" nzSm="8" class="pru">
        <a class="whatsapp" href="https://api.whatsapp.com/send?phone=573158393866" target="_blank"></a>
        <a class="facebook" href="https://www.facebook.com/tudomicilioocana" target="_blank"></a>
        <a class="instagram" href="https:www.instagram.com/tudomicilioocana/?hl=es-la" target="_blank"></a>
      </div>
  </div>

</nz-header>

