<!--<div nz-row>
  <div nz-col nzXs="24" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    col1
    {{pruebaServicios.prueba}}
  </div>
  <div nz-col nzXs="24" nzSm="16" nzMd="12" nzLg="8" nzXl="4">
    Col2
    {{pruebaServicios.prueba1}}
  </div>
  <div nz-col nzXs="24" nzSm="16" nzMd="12" nzLg="8" nzXl="4">
    col3
    {{pruebaServicios.prueba2}}
  </div>
  <div nz-col nzXs="24" nzSm="16" nzMd="12" nzLg="8" nzXl="4">
    col4
    {{pruebaServicios.prueba3}}
  </div>

</div>

<nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue" (ngModelChange)="pruebadatos()">
  <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
  <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
  <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
</nz-select>-->


<nz-row>
  <nz-col  nz-col nzXs="24">
    <h2>
      Mision
    </h2>
    <p>
      Somos una empresa dedicada al servicio de domicilio más rápido eficaz y eficiente de la zona,
      Brindando a la comunidad un ahorro en tiempo y economia, realizando,
      cualquier tipo de compra, envio y despacho de cualquier tipo de producto
    </p>

    <h2>
      Vision
    </h2>
    <p>
      En el 2022 ser la Empresa lider en domicilios de la ciudad de Ocaña,
      contando con el apoyo de la comunidad y entes gubernamentales
    </p>

    <h2>
      Valores
    </h2>

    <p>
      • Compromiso
      Trabajar en equipo cada día para brindar a nuestros compañeros y clientes lo mejor de nosotros mismos.
    </p>
    <p>
      • Respeto
      Escuchar a todos los que nos rodean, considerar y respetar sus inquietudes y consideraciones.
    </p>
    <p>
      • Confianza
      Ofrecer en cada acto de nuestra vida cotidiana la mejor actitud para dar tranquilidad y seguridad a todo el que se vincula con nosotros.
    </p>
    <p>
      • Integridad
      Mantener una conducta austera y honesta en todo momento tanto en lo personal como en lo profesional.
    </p>
    <p>
      • Lealtad
      Ser fieles a nosotros mismos, nuestros valores y principios.
    </p>
  </nz-col>
</nz-row>



