
<nz-breadcrumb>
  <nz-row nzJustify="space-between">
    <nz-col id="col1">
      <nz-breadcrumb-item><a routerLinkActive="active-link" (click)=" showModalCrearproducto()">Crear Producto</a></nz-breadcrumb-item>
    </nz-col>
    <nz-col id="col2">
      <nz-breadcrumb-item><a routerLinkActive="active-link" (click)="eliminarproducto()" >Eliminar Producto</a></nz-breadcrumb-item>
    </nz-col>
    <nz-col>

    </nz-col>
  </nz-row>
</nz-breadcrumb>

<!--<nz-table #basicTable >-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Titulo</th>-->
<!--    <th>Descripcion</th>-->
<!--    <th>Precio</th>-->
<!--    <th>Imagen</th>-->
<!--    <th>Mo</th>-->
<!--    <th>El</th>-->

<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let data of ProductoServicios.productos1 ">-->
<!--    <td>{{ data.titulo }}</td>-->
<!--    <td>{{ data.descripcion }}</td>-->
<!--    <td>{{ data.precio }}</td>-->
<!--    <td>{{ data.imagen }}</td>-->
<!--    <td>Modificar</td>-->
<!--    <td>Eliminar</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</nz-table>-->
