

<div style="background: #ECECEC;padding:30px;">


  <div nz-row [nzGutter]="4">

    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Card title 1">


        <nz-card style="width:179px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
          <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate>
          <img id="uno" alt="example1" src="assets/img/1.png" />
        </ng-template>
        <ng-template #actionSetting>
          <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
          <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
          <i nz-icon nzType="ellipsis"></i>
        </ng-template>


      </nz-card>
    </div>



    <div nz-col [nzSpan]="6">
      <nz-card  nzTitle="Card title">

        <nz-card style="width:179px;" [nzCover]="coverTemplate2" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
          <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate2>
          <img id="dos" alt="example" src="assets/img/2.jpg" />
        </ng-template>
        <ng-template #actionSetting>
          <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
          <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
          <i nz-icon nzType="ellipsis"></i>
        </ng-template>

      </nz-card>
    </div>




    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Card title 1">


        <nz-card style="width:179px;" [nzCover]="coverTemplate3" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
          <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate3>
          <img  alt="example1" src="assets/img/3.jpg" />
        </ng-template>
        <ng-template #actionSetting>
          <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
          <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
          <i nz-icon nzType="ellipsis"></i>
        </ng-template>


      </nz-card>
    </div>



    <div nz-col [nzSpan]="6">
      <nz-card  nzTitle="Card title">

        <nz-card style="width:179px;" [nzCover]="coverTemplate4" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
          <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate4>
          <img  alt="example" src="assets/img/4.jpg" />
        </ng-template>
        <ng-template #actionSetting>
          <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
          <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
          <i nz-icon nzType="ellipsis"></i>
        </ng-template>

      </nz-card>
    </div>


  </div>





















  <div nz-row [nzGutter]="4">

    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Card title 1">


        <nz-card style="width:179px;" [nzCover]="coverTemplate5" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
          <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate5>
          <img  alt="example1" src="assets/img/1.png" />
        </ng-template>
        <ng-template #actionSetting>
          <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
          <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
          <i nz-icon nzType="ellipsis"></i>
        </ng-template>


      </nz-card>
    </div>



    <div nz-col [nzSpan]="6">
      <nz-card  nzTitle="Card title">

        <nz-card style="width:179px;" [nzCover]="coverTemplate6" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
          <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate6>
          <img  alt="example" src="assets/img/2.jpg" />
        </ng-template>
        <ng-template #actionSetting>
          <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
          <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
          <i nz-icon nzType="ellipsis"></i>
        </ng-template>

      </nz-card>
    </div>




    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Card title 1">


        <nz-card style="width:179px;" [nzCover]="coverTemplate7" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
          <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate7>
          <img  alt="example1" src="assets/img/3.jpg" />
        </ng-template>
        <ng-template #actionSetting>
          <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
          <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
          <i nz-icon nzType="ellipsis"></i>
        </ng-template>


      </nz-card>
    </div>



    <div nz-col [nzSpan]="6">
      <nz-card  nzTitle="Card title">

        <nz-card style="width:179px;" [nzCover]="coverTemplate8" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
          <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate8>
          <img  alt="example" src="assets/img/4.jpg" />
        </ng-template>
        <ng-template #actionSetting>
          <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
          <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
          <i nz-icon nzType="ellipsis"></i>
        </ng-template>

      </nz-card>
    </div>


  </div>



</div>






















