<nz-footer>

  <div nz-row>
    <div nz-col nzSpan="24">
      <p>
        Colombia | calle 11 N-25-17, local 2 | Barrio Las LLanadas, Ocaña Norte De Santander
      </p>
    </div>
  </div>


  <nz-row nzSpan="24">
    <p>
      2020 © Copyright - Tu Domicilio Ocaña N.S  S.A. | Todos los derechos reservados.
    </p>
  </nz-row>


  <nz-row nzSpan="24">
    <p>
      Echo con <span _ngcontent-docs-c125="" style="color: rgb(255, 255, 255);">❤</span>  Especialmente para ti !
    </p>
  </nz-row>

   <nz-row class="letra">
     Version Beta 0.1
   </nz-row>

</nz-footer>

