<nz-footer>


  <nz-card >

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta? Refert
      tamen, quo modo.
    </p>
    <nz-divider nzText="Tu Domicilio Ocaña"></nz-divider>
    <p>
    <p style="font-size:14px;color:rgba(0, 0, 0, 0.85);margin-bottom:16px;font-weight: 500;">
      Group title
    </p>

    <div nz-row>
      <div nz-col nzSpan="8">

        <h2>
          Restaurantes
        </h2>

        <p>Multipollo</p>
        <p>La Chispita Roja</p>
        <p>La Provincia</p>
        <p>Pollo Expres</p>
        <p>Parrillas Caleñas</p>
        <p>Leña Y carbon</p>
        <p>Luna Margarita</p>
      </div>
      <div nz-col nzSpan="8">

      </div>
      <div nz-col nzSpan="8">col-8</div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24">

        <p>
          2020 © Copyright - Tu Domicilio Ocaña N.S  S.A. | Todos los derechos reservados.

          CNPJ 14.380.200/0001-21 / calle 5a N-45-47, nº 1496, Vila Yara, Osasco/SP - CEP 06.020-902
        </p>
      </div>
    </div>

  </nz-card>



</nz-footer>

