


<section>

  <nz-row class="marco">
    <div nz-row class="escenario">
      <div nz-col nzSpan="4" class="logo"> </div>
    </div>
  </nz-row>


  <div class="pagos" nz-row>
    <div nz-col  class="mpago1" nzXs="24"  nzSm="6"  >

    </div>
    <div nz-col  class="mpago2" nzXs="24" nzSm="6" >

    </div>
    <div nz-col  class="mpago3" nzXs="24"  nzSm="6" >

    </div>
    <div nz-col  class="mpago4" nzXs="24"  nzSm="6" >

    </div>
  </div>







  <nz-card >
    <nz-divider style="background-color: #070606" > </nz-divider>
    <div nz-col  class="tunombre1" nzXs="24" ></div>
    <div nz-col  class="rapidez" nzXs="24" ></div>
    <nz-divider style="background-color: #070606" > </nz-divider>
    <h1 >Trabajamos para que tu vida sea más fácil!</h1>
    <p>
      Compramos, Recogemos, Pagamos, Transportamos, Entregamos, todo lo que necesites, en cuestion de minutos.
    </p>



    <h1 >Aprovecha nuestros beneficios !</h1>
    <div class="" nz-row>

      <div nz-col  nzXs="24"  nzSm="6"  >
        <nz-row class="uno" >
          <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
        </nz-row>
        <h2>DISFRUTA TU TIEMPO</h2>
        <p>Pide lo que quieras, sin salir de casa</p>
      </div>

      <div nz-col  nzXs="24" nzSm="6" >
        <nz-row class="uno" >
          <i nz-icon nzType="dollar" nzTheme="outline"></i>
        </nz-row>
        <h2>FACILIDAD DE PAGO</h2>
        <p>
          Realiza tu pago en efectivo, contraentrega o en linea
        </p>
      </div>

      <div nz-col  nzXs="24"  nzSm="6" >
        <nz-row class="uno" >
          <i nz-icon nzType="safety-certificate" nzTheme="fill"></i>
        </nz-row>
        <h2>FACIL Y SEGURO</h2>
        <p>
          Contamos con personal calificado, para cuidar y responder por el producto
        </p>
      </div>

      <div nz-col  nzXs="24"  nzSm="6" >
        <nz-row class="uno" >
          <i nz-icon  nzType="star" nzTheme="fill"></i>
        </nz-row>
        <h2>EXCLUSIVIDAD</h2>
        <p>Se nuestro cliente favorito , queremos complacerte</p>
      </div>
    </div>



  </nz-card>


</section>

